plugins/*/bin
plugins/*/obj
.f
CppCheckResults.xml
SNDB4/

# Ignore Object files
/obj
Armadillo_KeyTool.cscope_file_list
bin/plugins/
bin/exception_*.log
*.layout
*.depend
Public/
*.log
bin/cudart*.dll
bin/brute_sym.dll
armadillo_analysis_custombuild_download.txt
Armadillo_KeyTool.bmarks
