Armadillo_KeyTool.depend
Armadillo_KeyTool.layout
bin/Armadillo_KeyTool.exe
.f
CppCheckResults.xml
SNDB4/

# Ignore Object files
obj/*

# Ignore Eclipse Project
.project
.cproject
Armadillo_KeyTool.cscope_file_list
bin/plugins/
bin/exception_*.log
