plugins/*/bin
plugins/*/obj
brute_sym/bin
brute_sym/obj
.f
CppCheckResults.xml
SNDB4/

# Ignore Object files
/obj
Armadillo_KeyTool.cscope_file_list
bin/plugins/
bin/exception_*.log
*.layout
*.depend
Public/
*.log
*.bmarks
bin/cudart*.dll
bin/Armadillo_KeyTool.exe
bin/brute_sym.dll
armadillo_analysis_custombuild_download.txt
Armadillo_KeyTool.bmarks
bin/brute_sym_prvt.dll
*.ini
*.suo
*sdf
*.opensdf
ipch/
Win32/
*.pdb
*.mem

.vs/
